[submodule "themes/base16"]
	path = themes/base16
	url = git@github.com:jongbinjung/hugo-base16-theme.git
[submodule "themes/codex"]
	path = themes/codex
	url = https://github.com/jakewies/hugo-theme-codex.git
